.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.home-header {
  display: flex;
  padding: 20px 30px;
  justify-content: flex-end;
  align-items: center;
}

.home-header a {
  text-decoration: inherit;
  margin-right: 20px;
  color: rgba(0, 0, 0, 0.87);
  font-size: 15px;
}

.home-header a:hover {
  text-decoration: underline;
}

.home-header > .MuiSvgIcon-root {
  margin-right: 20px;
}
